@import "../../../styles/variables";

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #090321;
  box-shadow: -3.5px 2px 38px 0 rgba(0, 0, 0, 0.28);

  .actions {
    display: flex;
    height: 100%;

    a {
      display: flex;
      height: 100%;
      align-items: center;
      margin: 0 10px;

      img {
        cursor: pointer;
        height: 100%;
        max-height: 76px;
        margin-bottom: 0;
        opacity: 0.95;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .headerText {
    font-family: Aldrich;
    font-size: 16px;
    color: #ffffff;
  }
}

.login {
  color: #ffffff;
}

.navMenu {
  display: flex;
  width: 100%;
  justify-content: center;

  > a {
    cursor: pointer;
    margin: 30px;

    &.active {
      color: #cf4868;
    }
  }
}

.mainContainer {
  height: 100%;
  background-color: #0075C2;
}

.authButtons {
  display: flex;

  button {
    margin: 0 10px;
  }
}
