.createItemContainer {
  margin: 5%;
}

.createItemForm {
  display: flex;
  max-width: 400px;
  justify-content: center;
  flex-direction: column;

  * {
    margin: 10px 15px;
  }
}

.editActions {
  display: flex;
  width: 100%;

  button {
    width: 150px;
    padding-right: 20px;
  }
}
