@import "fonts";
@import "variables";

body, html, #root {
  margin: 0;
  height: 100%;
}

div, hr, a, img, input, span, button, p {
  font-family: Montserrat;
  color: #000;
  font-size: 16px;
}

label, h1 {
  color: #fff;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  border-radius: 6px;
  border-color: transparent;
  background-color: $PRIMARY_COLOR;
  outline: none;

  &:hover {
    transition: .3s all;
    background-color: $PRIMARY_HOVER_COLOR;
  }

  &:active {
    transition: .3s all;
    background-color: $PRIMARY_ACTIVE_COLOR;
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }

  &.primary {
    max-width: 200px;
  }

  &.delete {
    max-width: 200px;
    background-color: firebrick;
  }
}

.error {
  color: orangered;
}

input, textarea {
  font-size: 16px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 14px;
}
